/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
li {
  list-style: none;
  margin: 5% 0 5% 0;
}

/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
  --fenetre-x: 0 px;
  --fenetre-y: 0 px;
}

html,
body {
  width: 100%;
  min-height: 100%;
  background: #111;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  min-height: 100%;
  min-width: 100%;
  
}

.main-content {
  overflow: auto;
  width: 80%;
  margin: 0 10% 0 10%;
  height: 100%;
  z-index: 100;
  position: absolute;
  background-image: linear-gradient(
    315deg,
    rgba(125, 134, 136, 0.8) 0%,
    rgba(46, 61, 80, 0.8) 84%
  );
}

.main-content li {
  display: inline-block;
  vertical-align: middle;
}

.main-content a {
  color: white;
}

.main-content .fichier {
  width: 50px;
}

.main-content .dossier {
  width: 50px;
}

.main-content .button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.main-content .button:hover {
  background-color: #3e8e41;
}

.main-content .button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* ---- particles.js container ---- */

#particles-js {
  width: 100%;

  min-height: 100%;
  position: absolute;
  background-color: #3e3e3e;
  background-image: url("wall1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.main-content .messages-list li {
  display: flex;
  justify-content: center;
}

.card {
  background: #191c29;
  min-width: 250px;
  min-height: 200px;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: rgb(88 199 250 / 100%);
  cursor: pointer;
  font-family: cursive;
  margin: 20px;
}

.card h1 {
  text-align: center;
}

.card::before {
  content: "";
  width: 104%;
  height: 106%;
  border-radius: 6px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -3%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}

.card .data {
  color: #4252ad;
  font-weight: 900;
}

.bouton {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.bouton:hover {
  text-decoration: none;
}

.effect {
  color: #fff;
  border: 4px solid #000;
  box-shadow: 0px 0px 0px 1px #000 inset;
  background-color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.effect:hover {
  border: 4px solid #666;
  background-color: #fff;
  box-shadow: 0px 0px 0px 4px #eee inset;
}

.effect span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect:hover span {
  letter-spacing: 0.13em;
  color: #333;
}

.effect:after {
  background: #fff;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}
.effect:hover:after {
  background: #fff;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

#hiddenFenetre {
  width: 200px;
  height: 200px;
  left: var(--fenetre-x);
  top: var(--fenetre-y);
  z-index: 200;
  position: fixed;
  background-image: linear-gradient(
    135deg,
    #a40c26 0%,
    #cba458 66%,
    #ffe206 100%
  );
  border: white solid 1px;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

#hiddenFenetre span {
  font-family: cursive;
}

#hiddenFenetre textarea {
  margin-top: 15px;
  max-width: inherit;
  width: 180px;
  min-width: 180px;
  max-width: 180px;
  height: 100px;
  max-height: 120px;
  scroll-behavior: smooth;
}

.box-message {
  height : 50px;
  margin: 10px;
  padding: 10px;
  border-radius: 7px;
  background-color: #e0e5ec;
  text-align: center;
  position: relative;
  display: block;
  overflow: hidden;
  transition: height 0.5s;
}

.box-message.ouvrir {
  height: 550px;
}

.box-message h1,
.box-message h2 {
  color: #2e3d50;
}

.box-message input {
  margin: 8px;
}

.box-message textarea {
  margin-top: 15px;
  max-width: inherit;
  width: 300px;
  min-width: 180px;
  max-width: 350px;
  height: 100px;
  max-height: 500px;
  scroll-behavior: smooth;
  border-radius: 8px;
}

.box-message .input-form {
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset; /* Ombre interne */
  color: #555555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.5s;
}

.box-message .input-form:focus {
  background-color: #ffffff;
  outline-width: 0;
}

.custom-btn {
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn {
  overflow: hidden;
  transition: all 0.3s ease;
}
.btn:hover {
  background: #000;
  color: #fff;
}
.btn:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn 3s ease-in-out infinite;
}
.btn:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes shiny-btn {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

.btm {
  position: absolute;
  top: 15px;
  right: 15px;
}

.titre-message {
  color: white;
  font-size: 1.5em;
  margin: 20px;
  text-align: center;
}

.middle {
  text-align: center;
}

.middle .custom-btn {
  background-color: #c5d7e3;
}

.cmpMsg {
  position: absolute;
  right:10%;
  margin:5%;
}

h1 {
  font-size: 200%;
  padding: 25px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.miniMain{
  text-align: center;
}

.liste-envoi{
  text-align: center;
  background-color: #e0e5ec;
  border-radius: 5px;
  width: 400px;
  list-style:circle;
  margin: 0 auto 0 auto;
}

.liste-envoi li{
  margin: 3% 0 3% 0;
}

.liste-envoi h1{
  padding-bottom: 0;
  padding-top: 15px;
  color: #2e3d50;
}

.liste-envoi span{
  font-family: 'Oswald', sans-serif;
  font-size: 1.6em;
}

.ouvreFerme{
  margin: 10px;
  position: absolute;
  left : 20px;
  top : 20px;
}