<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envoyer un message</title>
</head>
<body>
    
    <h1>Réponse générique</h1>
    <form method="POST">

        <h2>Destinataire</h2>
        <input type="radio" id="Magasin" name="destinataire" value="Magasin" checked>
        <label for="Magasin">Magasin</label>

        <input type="radio" id="Ecole" name="destinataire" value="Ecole" checked>
        <label for="Ecole">Ecole</label>

        <input type="radio" id="Entreprise" name="destinataire" value="Entreprise" checked>
        <label for="Entreprise">Entreprise</label>

        <textarea placeholder="Ecrivez votre message" required></textarea>
        <input type="submit" value="Envoyer" />
    </form>

    <h1>Demande collaboration</h1>
    <form method="POST">

        <h2>Destinataire</h2>
        <input type="radio" id="Magasin" name="destinataire" value="Magasin" checked>
        <label for="Magasin">Magasin</label>

        <input type="radio" id="Ecole" name="destinataire" value="Ecole" checked>
        <label for="Ecole">Ecole</label>

        <input type="radio" id="Entreprise" name="destinataire" value="Entreprise" checked>
        <label for="Entreprise">Entreprise</label>

        <textarea placeholder="Description" required></textarea>
        <input type="date" name="dateDebut" required />
        <input type="date" name="dateFin" required />

        <input type="submit" value="Envoyer"/>
    </form>
    
    <h1>Demande catalogue</h1>
    <form method="POST">
        <textarea placeholder="Ecrivez votre message" required></textarea>

        <input type="submit" value="Envoyer" />
    </form>

    <h1>Demande de stage</h1>
    <form method="POST">

        <h2>Destinataire</h2>
    
        <input type="radio" id="Ecole" name="destinataire" value="Ecole" checked>
        <label for="Ecole">Ecole</label>

        <input type="radio" id="Entreprise" name="destinataire" value="Entreprise" checked>
        <label for="Entreprise">Entreprise</label>

        <input type="text" name="objet" placeholder="Objet" required/>
        <textarea name="description" placeholder="Description" required></textarea>
        <input type="text" name="Lieu" placeholder="Lieu" required/>
        <input type="date" name="dateDebut" required />
        <input type="date" name="dateFin" required />
        <input type="text" name="remuneration" placeholder="Rémunération" required/>
        <input type="text" name="duree" placeholder="Durée" required/>
        <input type="submit" value="Envoyer" />
    </form>

</body>
</html>