<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="screen" href="../style.css">
  <title>Erreur lecture</title>
</head>

<body>
  <div class="main">
    <div class="main-content">
      <h1>Raison de l'erreur</h1>
      <h2>[[ ${raison} ]]</h2>

      <a th:href="@{/index}"><button class="bouton effect btm"><span>Back to Menu</span></button></a>
    </div>
    <!-- particles.js container -->
    <div id="particles-js"></div>
  </div>
  <!-- scripts -->
  <script src="../particles.js"></script>
  <script src="../app.js"></script>
  
</body>

</html>