<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labo</title>
</head>
<body>
    <ul>
    <li th:each="f : ${listeFichier}">
        <a th:href="@{/lecture/fichier}">Fichier</a>
    </li>

    <li>
        <a th:href="@{/envoi/}">Envoi</a>
    </li>
    <li>
        <a th:href="@{/archive/}">Archive</a>
    </li>
    <li>
        <a th:href="@{/erreur/}">Erreur</a>
    </li>
</ul>
</body>
</html>