<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="style.css">
    <title>Labo</title>
</head>

<body>
    
    <div class="main">
        <div class="main-content">
            <h1>LABORATOIRE <br> TSOR Corps.</h1>
            <div class="miniMain">
                <ul>
                    <li th:each="f : ${listeFichier}">
                        <a th:href="@{/lecture/{fichier} (fichier = ${f.Name})}">
                            <img src="fichier.png" class="fichier" alt="fichier" />
                            <br>
                            [[ ${f.Name} ]]
                        </a>
                    </li>

    <li>
        <a th:href="@{/envoi/}">
            <img src = "dossier.png" class="dossier" alt ="dossier" />
            <br>
            Envoi
        </a>
    </li>
    <li>
        <a th:href="@{/archive/}">
            <img src = "dossier.png" class="dossier" alt ="dossier" />
            <br>
            Archive
        </a>
    </li>
    <li>
        <a th:href="@{/erreur/}">
            <img src = "dossier.png" class="dossier" alt ="dossier" />
            <br>
            Erreur
        </a>
    </li>
</ul>

                <form method="POST" enctype="multipart/form-data" th:action="@{/upload}" th:object="${form}">
                    <input type="file" id="import" accept=".xml" name="import" th:field="*{file}" required />
                    <input type="submit" class="button" value="Importer" />
                </form>
            </div>
            <a th:href="@{envoiMessage}"><button class="button cmpMsg">Composer message</button></a>
        </div>
        


    
  <!-- particles.js container -->
  <div id="particles-js"></div>
</div>
  <!-- scripts -->
  <script src="particles.js"></script>
  <script src="app.js"></script>
  
  <script>
      function loadNbFichier(){
            setInterval(function(){actualisation();}, 10000); // toutes les 10 secondes
        };

        function actualisation(){
            window.location.reload();
        }

        loadNbFichier();
  </script>
</body>

</html>