<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[ ${titre} ]]</title>
</head>
<body>
    
    <ul>
        <li><a th:href="@{/{source}/Magasin (source=${source})}">Magasin</a></li>
        <li><a th:href="@{/{source}/entreprise (source=${source})}">Entreprise</a></li>
        <li><a th:href="@{/{source}/ecole (source=${source})}">Ecole</a></li>
    </ul>

</body>
</html>